
<div class="post col-md-6">
              <div class="div-post-image">
                <%= image_tag("blog2.jpg", class: "parent-width fix-height-center") %>
              </div>
              <h2 class="post-title"><%= article.title %></h2>

              <p class="post-summary"><%= article.body %></p>
            
               <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-primary' %>
               <%= link_to 'Delete', article, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-warning' %>
                    
</div>
