<!DOCTYPE html>
<html>
<head>
  <title>Blasting off With Bootstrap</title>
</head>
<body class="custom-bg">

<div class="row body-row">
  <div class="left-section col-md-3 col-md-offset-1">
    <div class="row">
    <!-- logo -->
    <%= link_to "/articles" do %>
      <%= image_tag("logo2.png", class: "logo parent-width") %>
    <% end %>
    </div>

    <div  class="row navbar navbar-default navbar-static-top">
    <!-- menu -->
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle" data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>

      <ul class="nav collapse navbar-collapse">
          <li><%= link_to "Home", :controller => :articles, :action => :index %></li>
          <li><%= link_to "About", :controller => :articles, :action => :about %></li>    
          <li><%= link_to "Blogs", :controller => :articles, :action => :index %></li>  

          <li><a href='#' data-toggle='dropdown'>Contact <span class='caret'></span> </a>
            <ul class='dropdown-menu'>
              <li><a href='#'>Facebook</a></li>
              <li><a href='#'>Twister</a></li>
              <li class="divider"></li>
              <li><a href='#'>Email</a></li>
            </ul>
          </li>
      </ul>
    </div>
    
    <div class="row hidden-sm hidden-xs">
      <%= image_tag("social.PNG") %>
    </div>

    <div class="row subcribe-section hidden-sm hidden-xs">
    <!-- Subcribe -->
      <b>SUBSCRIBE TO BLOG VIA EMAIL</b>
      <br><br>
      <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.<p>
      <br>
      <input type="text" name="email" placeholder="Email Address">
      <br><br>
      <button class="bt-subcribe green-bt btn btn-md">SUBCRIBE</button>
    </div>

    <div class="row profile-section hidden-sm hidden-xs">
    <!-- Image and quote -->
      <%= image_tag("quote.png", class: "profileIMG parent-width") %>
      <br><br>
      <p>Live as if you were to die tomorrow. Learn as if you were to live forever.</p>
    </div>

    <div class="row recent-section hidden-sm hidden-xs">
    <!-- Recent post -->
      <b>RECENT POSTS</b>
      <br><br>
      <ul class="recent-list list-unstyled">
        <% @recents.each do |r| %>
          <%= link_to (r) do %>
            <li> <%= r.title %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="right-section col-md-7 nopadding">
      
      <% case action_name %>
      <% when 'index' %>
      <%= render 'all' %> 
      <% when 'show' %>
      <%= render 'articleDetail' %> 
      <% when 'new' %>
      <%= render 'new' %> 
      <% when 'edit' %>
      <%= render 'edit' %> 
       <% when 'about' %>
      <%= render 'about' %> 
      <% end %>

  </div>
</div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 footer hidden-sm hidden-xs">
      <h5>@ Theme by Harry Nguyen, reference from Anariel Design.</h5>
    </div>
  </div>
  
</body>
</html>