<!DOCTYPE html>
<html>
<head>
  <title>Blasting off With Bootstrap</title>
</head>
<body class="custom-bg">

<div class="row body-row">
  <div class="left-section col-md-3 col-md-offset-2">
    <div class="row">
    <!-- logo -->
      <%= image_tag("logo2.png", class: "logo parent-width") %>
    </div>

    <div  class="row navbar navbar-default navbar-static-top">
    <!-- menu -->
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle" data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>

      <ul class="nav collapse navbar-collapse">
          <li><a href='#'><b>Home</b></a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Blog</a></li>
          <li><a href='#' data-toggle='dropdown'>Contact <span class='caret'></span> </a>
            <ul class='dropdown-menu'>
              <li><a href='#'>Facebook</a></li>
              <li><a href='#'>Twister</a></li>
              <li class="divider"></li>
              <li><a href='#'>Email</a></li>
            </ul>
          </li>
      </ul>
    </div>
    
    <div class="row hidden-sm hidden-xs">
      <%= image_tag("social.PNG") %>
    </div>

    <div class="row subcribe-section hidden-sm hidden-xs">
    <!-- Subcribe -->
      <h3>SUBSCRIBE TO BLOG VIA EMAIL</h3>
      <br>
      <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.<p>
      <br>
      <input type="text" name="firstname">
      <br><br>
      <button class="bt-subcribe green-bt btn btn-md">SUBCRIBE</button>
    </div>

    <div class="row profile-section hidden-sm hidden-xs">
    <!-- Image and quote -->
      <%= image_tag("quote.png", class: "profileIMG parent-width") %>
      <p>Live as if you dive tommorow and learn as if you live forever!</p>
    </div>

    <div class="row recent-section hidden-sm hidden-xs">
    <!-- Recent post -->
      <h4>RECENT POSTS</h4>
      <ul class="list-unstyled">
        <li>Recent Post 1</li>
        <li>Recent Post 2</li>
        <li>Recent Post 3</li>
        <li>Recent Post 4</li>
        <li>Recent Post 5</li>
      </ul>
    </div>
  </div>

  <div class="right-section col-md-5 nopadding">
    <div class="front-div parent-width">
    <!-- Front page -->
      <div class="font-div-mask">
        <div class="content-front">
          <h2>Front Page</h2>
          <br><br>
          <p>Life is a journey! Travel and explore the world, taste the exotic cuisine, discover new fashion trends and share your experiences with the rest of the world. Amalie is a blogging theme with modern and distinctive design combined with equally appealing typography and features.</p>
          <br><br>
          <button class="btn green-bt btn-md">READ MORE</button>
        </div>
      </div>
    </div>

  
   <%= link_to 'New Article', new_article_path , class: 'bt-new-article btn btn-md'%>
 

    <div class="row list-post-div">
    <!-- List of post -->
    	<%= render @articles %> 
    </div>

  </div>
</div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 footer hidden-sm hidden-xs">
      <h5>@ Theme by Harry Nguyen, reference from Anariel Design.</h5>
    </div>
  </div>

  <script type="text/javascript">
  
 	function findBootstrapEnvironment() {
	    var envValues = ["xs", "sm", "md", "lg"];

	    var $el = $('<div>');
	    $el.appendTo($('body'));

	    for (var i = envValues.length - 1; i >= 0; i--) {
	        var envVal = envValues[i];

	        $el.addClass('hidden-'+envVal);
	        if ($el.is(':hidden')) {
	            $el.remove();
	            return i
	        }
	    };
	}

  function makeVerticalMenu(){
    $('.navbar-collapse').removeClass('navbar-nav');
    $('.navbar-collapse').removeClass('navbar-right');
  }

  function makeHorizontalMenu(){
    $('.navbar-collapse').addClass('navbar-nav');
    $('.navbar-collapse').addClass('navbar-right');
  }

  function handleGridResize(){
    var grid = findBootstrapEnvironment();

    if(grid > 1){
      $(".right-section").height($(".left-section").height());
      makeVerticalMenu();
    }else{
    
      makeHorizontalMenu(); 
    }
  }

  function gridResizeForRefresh(){
 		setTimeout(
           function() 
           {
              handleGridResize();

           }, 100);
  }

  function createDummyPost(){
  	 for (i = 0; i < 2 ; i ++) {
          var number = 2 + Math.floor(Math.random() * 3);
          var imageLink = "blog"+ number +".jpg";

          var objectToAppend = '<div class="post">' + 
            '<div class="div-post-image">'+
            '<%= image_tag("blog2.jpg", class: "parent-width fix-height-center") %>' +
          
            '</div>' +
            '<h2>Vegeterian Life</h2>' +
            '<p class="post-summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos quam consequatur, totam adipisci alias perspiciatis, quidem sapiente at sunt aperiam.</p>' +

            '<button class="btn btn-primary">Edit</button> ' +
            '<button class="btn btn-warning">Delete</button>' +

          '</div>';

            $(".posts-left").append(objectToAppend);
            $(".posts-right").append(objectToAppend);
          }
  }

  function makeSummaryPost(){
  	   $('.post-summary').each(function(){
            var textToHide = $(this).text().substring(0,100) + "...";
            $(this).html(textToHide);
          })
      
  }

	$(document).ready(function(){
	    
	    gridResizeForRefresh();

	    $( window ).resize(function() {
	      handleGridResize();
	    });

	  	//createDummyPost();
		makeSummaryPost();     
	  
	})

  </script>
</body>
</html>