<!DOCTYPE html>
<html>
<head>
  <title>Blasting off With Bootstrap</title>
</head>
<body class="custom-bg">

<div class="row body-row">
  <div class="left-section col-md-3 col-md-offset-2">
    <div class="row">
    <!-- logo -->
      <%= image_tag("logo2.png", class: "logo parent-width") %>
    </div>

    <div  class="row navbar navbar-default navbar-static-top">
    <!-- menu -->
      <div class="navbar-header">
        
        <button type="button" class="navbar-toggle" data-toggle='collapse' data-target='.navbar-collapse'>
          <span class='sr-only'>Toggle navigation</span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
          <span class='icon-bar'></span>
        </button>
      </div>

      <ul class="nav collapse navbar-collapse">
          <li><a href='#'><b>Home</b></a></li>
          <li><a href='#'>About</a></li>
          <li><a href='#'>Blog</a></li>
          <li><a href='#' data-toggle='dropdown'>Contact <span class='caret'></span> </a>
            <ul class='dropdown-menu'>
              <li><a href='#'>Facebook</a></li>
              <li><a href='#'>Twister</a></li>
              <li class="divider"></li>
              <li><a href='#'>Email</a></li>
            </ul>
          </li>
      </ul>
    </div>
    
    <div class="row hidden-sm hidden-xs">
      <%= image_tag("social.PNG") %>
    </div>

    <div class="row subcribe-section hidden-sm hidden-xs">
    <!-- Subcribe -->
      <h3>SUBSCRIBE TO BLOG VIA EMAIL</h3>
      <br>
      <p>Enter your email address to subscribe to this blog and receive notifications of new posts by email.<p>
      <br>
      <input type="text" name="firstname">
      <br><br>
      <button class="bt-subcribe green-bt btn btn-md">SUBCRIBE</button>
    </div>

    <div class="row profile-section hidden-sm hidden-xs">
    <!-- Image and quote -->
      <%= image_tag("quote.png", class: "profileIMG parent-width") %>
      <p>Live as if you dive tommorow and learn as if you live forever!</p>
    </div>

    <div class="row recent-section hidden-sm hidden-xs">
    <!-- Recent post -->
      <h4>RECENT POSTS</h4>
      <ul class="list-unstyled">
        <li>Recent Post 1</li>
        <li>Recent Post 2</li>
        <li>Recent Post 3</li>
        <li>Recent Post 4</li>
        <li>Recent Post 5</li>
      </ul>
    </div>
  </div>

  <div class="right-section col-md-5 nopadding">
      
      <% case action_name %>
      <% when 'index' %>
      <%= render 'all' %> 
      <% when 'show' %>
      <%= render 'articleDetail' %> 
      <% when 'new' %>
      <%= render 'new' %> 
      <% when 'edit' %>
      <%= render 'edit' %> 
      <% end %>

  </div>
</div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2 footer hidden-sm hidden-xs">
      <h5>@ Theme by Harry Nguyen, reference from Anariel Design.</h5>
    </div>
  </div>
  
</body>
</html>